/* html {
  background-color: #d0c0a9;
} */

body {
  font-size: 16px;
  font-family: "Libre Baskerville", serif;
  background-color: #f8f2e6;
  color: #000000;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Bodoni Moda SC", "Times New Roman";
}

h1 {
  font-size: 40px;
}

/* img {
  width: 100%;
} */

a {
  text-decoration: none;
  color: #ffff;
}

input,
textarea {
  border: 1px solid #1d3223;
  border-radius: 10px;
  /* display: block;
  margin-bottom: 20px; */
}

button,
a {
  color: #ffff;
  border: none;
  border-radius: 0.2rem;
  margin: 0;
  padding: 6px;
}

.button1 {
  background-color: #b1d3bb;
}

.button2 {
  background-color: #9cb7a4;
}

.button-form {
  background-color: #b1d3bb;
  width: 165px;
  font-size: 16px;
  margin-bottom: 15px;
}

/* --- HEADER --- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: #f7f4f4;
  z-index: 99;
}

.topbar nav .active {
  color: #000;
}

.nav-link {
  color: rgba(0, 0, 0, 60%);
}

.nav-link:hover {
  color: #000000;
}

.wrapper-link {
  align-items: center;
  display: flex;
  gap: 16px;
}

.nav-toggle,
.nav-mobile {
  display: none;
}

/* --- END HEADER --- */

.wrapper {
  margin: auto;
  padding: 40px 0;
  display: flex;
  align-items: center;
}

/* .wrapper h1 {
  font-size: 40px;
} */

.slogan {
  margin-bottom: -4%;
  margin-right: 29%;
}

.text {
  padding: 4%;
  margin-left: 30px;
  text-align: center;
}

.illu {
  padding-top: 3%;
}

.wrapper-bestseller {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bestseller {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  border: 2px dashed rgba(0, 0, 0, 60%);
  width: 960px;
  height: 380px;
  margin-bottom: 30px;
}

.bestseller img {
  width: 100%;
}

.wrapper-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
}

.categories {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 222px;
  height: 55px;
  box-shadow: 12px 12px 2px 1px rgba(177, 211, 187);
  border: 1px solid rgba(0, 0, 0, 50%);
}

.tittle {
  margin-left: 15%;
}

.container-club {
  display: flex;
}

.club {
  background-color: #f7f4f4;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 539px;
  height: 600px;
  margin-top: 80px;
}

.form-example input {
  display: block;
  margin-bottom: 40px;
}

.form-example input {
  width: 150%;
  height: 25px;
}

.form-club {
  margin-right: 30%;
  margin-top: 25px;
}

input[type="date"] {
  padding: 10px 0; /* Espacement interne en haut et en bas */
  font-size: 16px; /* Taille du texte */
  border: none; /* Retire toutes les bordures par défaut */
  border-bottom: 1px solid #000; /* Ajoute une ligne verte en bas */
  border-radius: 0;
  background-color: #f7f4f4; /* Rendre le fond transparent (optionnel) */
  outline: none; /* Retire l'effet de contour au focus */
}

input[type="date"]:focus {
  border-bottom: 2px solid #9cb7a4; /* Change la couleur de la ligne lors du focus */
}

.middle {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}

.explanation {
  text-align: center;
}

.container-contact {
  padding-top: 6%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  border: 2px dashed rgba(0, 0, 0, 60%);
  margin: 5% auto;
  width: 90%;
  height: 685px;
  margin-top: 10%;
}

/* .contact {
  background-color: #f7f4f4;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 539px;
  height: 600px;
  margin-top: 80px;
} */

.form-contact {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  margin-top: 50px;
}

.user-infos {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 10%;
  margin-bottom: 15px;
}

.user-infos input {
  margin-top: 20px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #000;
  background-color: #f8f2e6;
  border-radius: 0;
  outline: none;
}

.checkbox {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.wrapper-message {
  margin-top: 10%;
  /* margin-left: -17%; */
  padding-bottom: 5%;
}

/* .message {
  width: 875px;
  height: 152px;
} */

.message {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  font-size: 15px;
  color: #333;
  background-color: #f8f2e6;
  border: 1px solid #000;
}

/* .button-form button {
  font-size: 16px;
  width: 200px;
  margin-left: 25%;
  margin-top: 25px;
  margin-bottom: 25px;
} */

/* .button-form {
  width: 100%;
} */

.conatiner-user {
  margin-top: 100px;
  margin-left: 15%;
}

.wrapper-form-user {
  border: 1px solid #000000;
  /* margin: 13% auto; */
  background-color: #f7f4f4;
  width: 80%;
  height: 500px;
}

.connexion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
}

.form-connexion {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.large-input input {
  width: 490px;
  height: 25px;
}

.large-button {
  width: 300px;
}

.wrapper-form-signup {
  display: flex;
  border: 1px solid #000000;
  /* margin: auto; */
  margin-top: 120px;
  margin-left: 10%;
  background-color: #f7f4f4;
  width: 80%;
  height: auto;
  justify-content: center;
}

.sign-up {
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-signup {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.user-signup {
  display: flex;
  gap: 5%;
}

.mid-size-input {
  display: flex;
  flex-direction: column;
}

.mid-size-input input {
  width: 300px;
  height: 25px;
}

.wrapper-recherche {
  padding-top: 120px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

select,
.recherche input {
  padding: 8px; /* Augmente la hauteur */
  font-size: 16px; /* Augmente la taille du texte */
  width: 100%; /* Occupe 100% de la largeur du conteneur */
  max-width: 400px; /* Limite la largeur maximum */
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
}

.default-value {
  color: rgba(0, 0, 0, 50%);
}

.container {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.img-product {
  width: 100%;
}

.wrapper-preview {
  display: flex;
  align-items: center;
  gap: 10px;
}

.description-book {
  border: 1px solid rgba(0, 0, 0, 30%);
  width: 312px;
  height: 188px;
}

.more {
  color: #000000;
}

.purchase {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.container-detail {
  padding: 125px 4%;
}

.livre {
  display: flex;
}

.wrapper-product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 4%;
}

.author {
  margin-right: 22%;
  text-align: center;
}

.synopsis {
  border: 1px dashed;
  padding: 2%;
  width: 75%;
}

.aside {
  display: flex;
  gap: 3%;
}

/* .book a {
  border-bottom: 1px solid #000000;
  color: #000;
} */

/* .books {
  position: absolute;
  z-index: 99;
  left: 17%;
  bottom: 24%;
} */

/* --- FOOTER --- */

.footer {
  margin-top: 70px;
  padding: 30px;
  background-color: #d0c0a9;
  color: #000;
}

.horaires {
  margin-top: -122px;
  text-align: center;
}

.link a {
  color: #000000;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -130px;
}

.social {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  margin-bottom: -58px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

/* --- END FOOTER --- */

/* --- RESPONSIVE --- */

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 980px) {
  /* .wrapper-bestseller {
    display: none;
  } */
  .bestseller {
    border: none;
    width: auto;
    /* width: 100%; */
  }
  .img-bestseller {
    width: 100%;
  }
}

@media screen and (max-width: 915px) {
  .wrapper-link {
    display: none;
  }

  .nav-toggle,
  .nav-mobile {
    display: block;
    cursor: pointer;
  }

  /* .nav-mobile {
    flex-direction: column;
    background: #f7f4f4;
    position: absolute;
    align-items: center;
    top: -500px;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 10px;
    gap: 20px;
  } */

  .user-infos,
  .checkbox,
  .wrapper-message {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 852px) {
  .wrapper-form-user {
    border: none;
    background-color: #f8f2e6;
  }

  .illu {
    display: none;
  }
  .user-signup {
    flex-direction: column;
    gap: 17px;
  }
}

/* @media screen and (max-width: 816px) {
  .user-signup {
    flex-direction: column;
    gap: 17px;
  }
} */

@media screen and (max-width: 765px) {
  .link {
    display: none;
  }

  .copyright {
    justify-content: flex-end;
  }

  .social {
    flex-direction: column;
    align-items: flex-start;
  }

  .livre {
    flex-direction: column;
  }

  .cover {
    text-align: center;
  }

  .aside {
    flex-direction: column;
  }

  .synopsis {
    width: auto;
  }
}

@media screen and (max-width: 580px) {
  .club {
    background-color: transparent;
    border: none;
  }

  .form-example input {
    width: 100%;
  }

  .contact {
    border: none;
  }
}

@media screen and (max-width: 540px) {
  .large-input input {
    width: 300px;
    height: 25px;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 13px;
  }

  h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  .bestseller {
    height: auto;
    padding-bottom: 30px;
  }

  .form-club {
    margin-right: 2%;
  }

  .club h4 {
    text-align: center;
  }

  .img-bestseller {
    width: 50%;
  }

  .wrapper-preview {
    flex-direction: column;
  }

  .wrapper-recherche {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .wrapper-recherche input,
  select {
    width: 300px;
  }

  .purchase {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 430px) {
  .contact {
    align-items: flex-start;
  }

  .wrapper-form-signup {
    background-color: transparent;
    border: none;
  }
}

@media screen and (max-width: 400px) {
  .wrapper-categories {
    flex-direction: column;
    align-content: center;
  }
  .categories {
    width: 150px;
  }
}
